.navbar{
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.header{
    background-image: url('https://imgs.search.brave.com/WsnejdEZp7bTQtUZxGaiymGVFi_36CisBG23vWgLFYk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtZ3JhdGlz/L21lZGljYS1lbS1z/ZXUtY29uc3VsdG9y/aW8tY29tLWVzcGFj/by1kZS1jb3BpYV8y/My0yMTQ4OTQ3NjMy/LmpwZz9zZW10PWFp/c19oeWJyaWQmdz03/NDA'); 
    image-size: cover;
    background-size: cover;
    background-position: center;
    height: 400px;
    color: grey;
    padding: 20px 0;
    margin-bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}


.idw{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 36px;
    margin: 20px 0;
}

.nav-links {
    list-style-type: none;
    margin: 50;
    padding: 50;
    display: flex;
    gap: 20px;
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}
.nav-links li a:hover {
    background-color: #575757;
    border-radius: 4px;
}