.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #7fb5d4ff;
}

.header_admin{
     
    position: relative;
    background-image: url('https://imgs.search.brave.com/WsnejdEZp7bTQtUZxGaiymGVFi_36CisBG23vWgLFYk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtZ3JhdGlz/L21lZGljYS1lbS1z/ZXUtY29uc3VsdG9y/aW8tY29tLWVzcGFj/by1kZS1jb3BpYV8y/My0yMTQ4OTQ3NjMy/LmpwZz9zZW10PWFp/c19oeWJyaWQmdz03/NDA');
    background-size: cover;
    background-position: center;
    height: 50vh;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}


button.btn{
            background: linear-gradient(45deg, #66a4eaff, #4b69a2ff);
            color: white;
            padding: 15px 30px;
            border: none;
            border-radius: 12px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            display: inline-block;
            text-decoration: none;
            margin-top: 70px;
            margin-bottom: 50px;
        }
.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-input label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-input input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
 p{
    font-size: 18px;
    color: #fcf6f6ff;
 }
 h2{
    color: #fcf6f6ff;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
 }