@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Major+Mono+Display&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Major+Mono+Display&family=Merienda&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');




    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
      position: relative;
      height: 70%;
    }


.navbar{
    background-color: rgba(58, 127, 184, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    
}


.header {
    position: relative;
    background-image: url('https://imgs.search.brave.com/WsnejdEZp7bTQtUZxGaiymGVFi_36CisBG23vWgLFYk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90b3MtZ3JhdGlz/L21lZGljYS1lbS1z/ZXUtY29uc3VsdG9y/aW8tY29tLWVzcGFj/by1kZS1jb3BpYV8y/My0yMTQ4OTQ3NjMy/LmpwZz9zZW10PWFp/c19oeWJyaWQmdz03/NDA');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}


.frase{
    font-family: 'Tuffy', Arial, sans-serif;
    font-size: 20px;
    color: #2a5d9f;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.mainidw{
    height: 100vh;
    padding: 0;
    box-sizing: border-box;
    background: rgba(172, 177, 218, 0.95);;
    margin: 0;
    
}

.idw{
    text-align: center;
    background-color: rgba(79, 149, 207, 0.5);
    color: white;
    margin: 0;

    font-family: Major Mono Display, Arial, sans-serif;
    font-size: 36px;
}



.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    color: white;
    font-size: 18px;
    font-family: Comic Neue, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-links .admin {
    margin-left: auto; 
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 26px 22px; 
    display: inline-block; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
   
}

.nav-links li a:hover {
    background-color: #6791b3ff;
}







    .swiper {
      width: 80%;
      height: 50%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }