.info-institucional {
  padding: 30px;
  margin:  auto;
  max-width: 900px;
  color: #f6f8faff;
  font-family: 'Tuffy', Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.7;
  background-color: rgba(79, 149, 207, 0.5);
  height: auto;
}


.dark-overlay {
     background-color: rgba(0, 0, 0, 0.4); 
    
   padding: 10px; 
    
    border-radius: 5px; 
}

.header_contacto{
    background-image: url("../Assets/Estudios/swiper_clinica/portada.png");
    margin-top: 70px;
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.info-institucional :hover {
  
  color: #0e3d66;
    transition: color 0.3s ease;
    
}

.info-institucional h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  color: #0e3d66;
}

.info-institucional h3 {
  margin-top: 30px;
  font-size: 22px;
  color: #265a88;
}

.info-institucional ul {
  padding-left: 20px;
  list-style-type: disc;
}

.info-institucional p,
.info-institucional li {
  font-size: 18px;
}
