
.mainidw{
    font-family: Arial, sans-serif;
    height: auto;
    margin: 0;
    padding: 40px 20px;
    box-sizing: border-box;
    background: rgba(196, 208, 212, 0.95);

    }

.descripcion{
     font-size: 18px;
            color: #080808ff;
            margin-bottom: 40px;
            text-align: center;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.6;
}

button.btn {
            background: linear-gradient(45deg, #66a4ea90, #4b69a290);
            color: white;
            padding: 15px 30px;
            margin-bottom: 50px;
            border: none;
            border-radius: 12px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            display: inline-block;
            text-decoration: none;
            margin-top: 250px;
            
        } 



button.btn_contacto{

            background: linear-gradient(45deg, #66a4ea90, #4b69a290);
            color: white;
            padding: 15px 30px;
            margin: 0;
            border: none;
            border-radius: 12px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            display: inline-block;
            text-decoration: none;
            margin-top: 150px;
           

}


.btn_contacto:hover{
            background: linear-gradient(45deg, #4b69a2ff, #66a4eaff);
            transform: translateY(-5px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        
        }

.btn:hover{
            background: linear-gradient(45deg, #4b69a2ff, #66a4eaff);
            transform: translateY(-5px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        
        }

.bienvenida{
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 36px;
    margin: 0px;
    font-weight: bold;
    color: rgba(246, 246, 252, 1);
}

