
.mainidw{
    font-family: Arial, sans-serif;
    height: 130vh;
    margin: 0;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: rgba(58, 127, 184, 0.5);

    }

.descripcion{
     font-size: 18px;
            color: #f5f4f8ff;
            margin-bottom: 40px;
            text-align: center;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            line-height: 1.6;
}

.btn{
            background: linear-gradient(45deg, #66a4eaff, #4b69a2ff);
            color: white;
            padding: 15px 30px;
            border: none;
            border-radius: 12px;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            display: inline-block;
            text-decoration: none;
            margin-top: 70px;}


.btn:hover{
            background: linear-gradient(45deg, #4b69a2ff, #66a4eaff);
            transform: translateY(-5px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        
        }

.bienvenida{
    text-align: center;
    color: white;
    font-size: 36px;
    margin: 0px;
    font-weight: bold;
    color: rgb(49, 51, 200);
}

.h2{
    text-align: center;
    color: white;
    font-size: 28px;
    margin: 20px 0 10px 0;
    font-weight: bold;
    color: #1e0b75ff;
}